body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;  /* Color de fondo */
}

.containerHead {
    display: flex;  /* Activar el modelo de flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    background-image: url('resources/fondo1.jpg');
    background-size: cover;  /* Hace que la imagen cubra todo el div */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */
    height: 300px;
}

.containerChrono {
    background-color: #eeeeee;  /* Color de fondo */
    text-align: center;
    font-size: 1.5rem;
}

.containerReproductor {
    background-color: #eeeeee;  /* Color de fondo */
    display: flex;  /* Activar el modelo de flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */
}

.containerDescription {
    background-color: #c1e4eb;  /* Color de fondo */
    margin-top: 20px;
}

.containerLocalitation {
    background-color: #eeeeee;  /* Color de fondo */
    display: flex;  /* Activar el modelo de flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */
    margin-top: 20px;
}



