body {
    font-family: Arial, sans-serif;
}

.containerHead {
    display: flex;  /* Activar el modelo de flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    background-image: url('resources/fondo1.jpg');
    background-size: cover;  /* Hace que la imagen cubra todo el div */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */
    height: 300px;
}

.containerChrono {
    background-color: #eeeeee;  /* Color de fondo */
    text-align: center;
    font-size: 1.5rem;
}

.containerCancion {
    background-color: #eeeeee;  /* Color de fondo */
    display: flex;  /* Activar el modelo de flexbox */
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;  /* Centrar verticalmente */
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */
}

.reproductor {
    <button onclick="document.getElementById('player').play()">Play</button>
    <button onclick="document.getElementById('player').pause()">Pausa</button>
    <button onclick="document.getElementById('player').load()">Stop</button>
    <button onclick="document.getElementById('player').volume += .1">Subir volumen</button>
    <button onclick="document.getElementById('player').volume -= .1">Bajar volumen</button>
}

.containerDescription {
    background-color: #0a6c7e;  /* Color de fondo */
}
