.containerHead {
    position: relative;
    height: 900px;
    width: 100%;  /* Hace que el div ocupe todo el ancho de la pantalla */

    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
}

.containerTituloSeccion {
    position: relative;
    width: 100%; /* Ancho completo del contenedor */
    height: 250px; /* Altura del div */
    
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center;
}

.containerTituloSeccion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../resources/fondoTitulo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Evita que se repita */
    opacity: 0.5;  /* Ajusta la transparencia de la imagen */
    z-index: -1;  /* Asegura que la imagen esté detrás del contenido */
}

.containerTituloSeccion img{
    width: 60px;
    height: 60px;
}


.containerLogoAnimado {
    position: relative;
    width: 100%; /* Ancho completo del contenedor */
    height: 250px; /* Altura del div */
    
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center;
}

.containerLogoAnimado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../resources/fondoTitulo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Evita que se repita */
    opacity: 0.5;  /* Ajusta la transparencia de la imagen */
    z-index: -1;  /* Asegura que la imagen esté detrás del contenido */
}

.containerReproductor {
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    font-family: "Times New Roman", Times, serif;
    
}

.container{
    height: 80%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 25px 25px; /* Espacio adicional interno a los lados */
    margin-top: 15%;
}

.containerWithoutPadding{
    height: 80%;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 0px 10px; /* Espacio adicional interno a los lados */
    margin-top: 10%;
}

.containerBig{
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 25px 25px; /* Espacio adicional interno a los lados */
    margin-top: 10%;
}

.containerContentSection{
    margin-top: 25px;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */

}
.containerIntroduction {
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 25px 25px; /* Espacio adicional interno a los lados */
}

.containerIntroduction video{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}


.containerIntruductionImage
{
    position: relative;
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center;
    background-image: url('../resources/avionPapel.png'); /* Ruta de tu imagen */
    background-size: contain; /* Escala la imagen para ocupar todo el div, deformándola si es necesario */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    width: 100%;
    height: auto;
}

.containerDownPlaneVideo
{
    position: relative;
    text-align: right;
}

.containerFinal{
    margin-top: 20%;
    height: 200px;
}

.containerGallery {
    position: relative;
    width: 100%;
}

.containerPhoto {
    display: flex;
    overflow-x: auto;  /* Habilita el desplazamiento horizontal */
    scroll-snap-type: x mandatory;  /* Asegura que las imágenes se alineen al hacer scroll */
    width: 100%;  /* Ajusta el ancho según sea necesario */
    height: 300px;
}

.containerPhoto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Suaviza el cambio */
}

.containerPhoto img.fade-out {
    opacity: 0;           /* Imagen desaparece */
    transform: scale(0.8); /* Se reduce ligeramente */
}

.containerPhoto img.fade-in {
    opacity: 1;           /* Imagen aparece */
    transform: scale(1);  /* Recupera el tamaño normal */
}

.containerText{
    width: 60%;
    height: auto;
    margin-bottom: 50px;
}

.containerIframe{
    width: 100%;
    height: auto;
}

/* Contenido del modal */
.containerFormulary{
    text-align: left;
    overflow: auto; /* Habilita scroll */
    background-color: #e1dbd6;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    max-height: 90%;
    width: 85%; /* Ajusta al tamaño que desees */
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerHorizontal{
    display: flex;
    flex-direction: row; /* Para apilar texto verticalmente */
    justify-content: flex-start; /* Centrar verticalmente */
    text-align: left;
    width: fit-content;
}

.containerHorizontal label{
    font-size: clamp(1.2rem, 1.4vw, 2.5rem);
}

.containerFormulary input, textarea{
    width: 100%;
    height: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(1.2rem, 1.4vw, 2.5rem);
}

.containerAlignRight
{
    display: flex;
    justify-content: flex-end; /* Centrar verticalmente */
    width: 100%;
}

.containerTituloSeccionModal
{
    position: relative;
    width: 100%; /* Ancho completo del contenedor */
    display: flex;
    flex-direction: column; /* Para apilar texto verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center;
    z-index: 1000;
}

.containerTituloSeccionModal::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../resources/fondoTitulo.png');
    background-size: cover; /* Ajusta el tamaño */
    background-position: center; /* Centra la imagen */
    opacity: 0.5; /* Ajusta la transparencia */
    z-index: -1;
}

.containerLogoAbajo{
    width: 100%;
    height: auto;
    margin-top: 20px;
}